{{ resources.Get "css/contact.css" | .Page.Store.SetInMap "css" "contact" }}

<!--<form
  class="Contact"
  name="contact"
  method="POST"
  data-netlify="true"
  {{
  if
  site.Params.netlify.honeypot
  }}
  data-netlify-honeypot="bot"
  {{
  end
  }}{{
  if
  site.Params.netlify.recaptcha
  }}
  data-netlify-recaptcha="true"
  {{
  end
  }}{{
  with
  .Get
  0
  }}
  action="{{ . }}"
  {{
  end
  }}
>
  <ul class="Contact-group">
    {{ if site.Params.netlify.honeypot }}
    <li class="Contact-hidden">
      <label>Don’t fill this out if you're human:</label>
      <input name="bot" />
    </li>
    {{ end }}
    <li class="Contact-item">
      <label class="Contact-label" for="Contact-name">Name:</label>
      <input
        class="Contact-input"
        id="Contact-name"
        type="text"
        name="name"
        autofocus
      />
    </li>
    <li class="Contact-item">
      <label class="Contact-label" for="Contact-email">Email:</label>
      <input
        class="Contact-input"
        id="Contact-email"
        type="email"
        name="email"
      />
    </li>
    <li class="Contact-item">
      <label class="Contact-label" for="Contact-subject">Subject:</label>
      <input
        class="Contact-input"
        id="Contact-subject"
        type="text"
        name="subject"
      />
    </li>
    <li class="Contact-item">
      <label class="Contact-label" for="Contact-message">Message:</label>
      <textarea
        class="Contact-input Contact-input--textbox"
        id="Contact-message"
        name="message"
      ></textarea>
    </li>
    <li class="Contact-item">
      <button class="Contact-button" type="submit">Send</button>
    </li>
  </ul>
  {{ if site.Params.netlify.recaptcha }}
  <div data-netlify-recaptcha="true"></div>
  {{ end }}
</form>-->

<section class="contact-section">
  <div class="contact-container">
    <p class="subtitle" style="text-align: center">Amarbelanand Foundation</p>
    <p class="motto" style="text-align: center">
      “Serving the Divine in Every Being”
    </p>
    <p
      class="discri"
      style="text-align: center; font-weight: bold; padding-bottom: 20px"
    >
      At Amarbelanand Foundation, sustainability is a reflection of divine
      harmony. Guided by the Supreme, we nurture the Earth through mindful
      action and selfless service, creating a lasting positive impact on all
      life.
    </p>
    <p class="discri" style="text-align: center">
      Be part of our mission to make a difference. Together, we can bring
      positive change and help those in need.
    </p>

    <div class="contact-info">
      <!--<div class="info-item">
        <img
          src="https://cdn-icons-png.flaticon.com/512/535/535239.png"
          alt="Address icon"
        />
       <p>
          <strong>Address:</strong>Amarbelanand Foundation <br />C/o- At
          Amtyapur, Dist.: Satara, Matyapur,<br />
          Gove, Satara, Satara- 415015,<br />
          Maharashtra, India
        </p>
      </div>-->
      <div class="info-item">
        <img
          src="https://cdn-icons-png.flaticon.com/512/732/732200.png"
          alt="Email icon"
        />
        <p><strong>Email:</strong> contact@amarbelanandfoundation.org</p>
      </div>
    </div>
  </div>
</section>
