{{ with site.Params.footer }}
<footer class="Footer">
  <div class="u-wrapper">
    <div class="footer-container">
      <!-- Column 1: Navigation -->
      <div class="footer-column">
        <h3>Quick Links</h3>
        <ul id="dsg">
          <li class="dsg1"><a href="/">Home</a></li>
          <li class="ds2"><a href="/about/">About Us</a></li>
          <li><a href="/projects/">Projects</a></li>
          <li><a href="/contact-us/">Contact</a></li>
        </ul>
      </div>

      <!-- Column 2: Contact Info -->
      <div class="footer-column">
        <h3>Contact Us</h3>
        <p>
          Amarbelanand Foundation<br />C/o- At Amtyapur, Dist.: Satara,
          Matyapur,<br />Gove, Satara, Satara- 415015,<br />Maharashtra, India
        </p>
        <!--<p>Phone: <a href="tel:+911234567890">+91 1234567890</a></p>-->
        <p>
          Email:
          <a href="mailto:amarbelanandfoundation@gmail.com"
            >amarbelanandfoundation@gmail.com</a
          >
        </p>
      </div>

      <!-- Column 3: Custom / Sustainability -->
      <div class="footer-column">
        <h3>Sustainability</h3>
        <p>
          At Amarbelanand Foundation, sustainability is a reflection of divine
          harmony. Guided by the Supreme, we nurture the Earth through mindful
          action and selfless service, creating a lasting positive impact on all
          life.
        </p>
      </div>
    </div>
    <div class="u-padding u-noboosting">{{ safeHTML . }}</div>
  </div>
</footer>
{{ end }}
